<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox" style="height: 325px;">
    <div class="carousel-item active" style="background-image: url('https://www.w3schools.com/w3css/img_mountains.jpg');height: 325px;">
      <div class="carousel-caption d-md-block title-image">
        <h3 id="demo" style="font-size: 30px !important;">First Slide</h3>
      </div>
    </div>
  </div>



</div>
<section>
  <div class="countdown">
    <div class="circle-time spin thick">
      <span id="days" class="numberCount"></span>
      <span>days</span>
    </div>
    <div class="circle-time">
      <span id="hours" class="numberCount"></span>
      <span>hours</span>
    </div>
    <div class="circle-time">
      <span id="minutes" class="numberCount"></span>
      <span>minutes</span>
    </div>
    <div class="circle-time">
      <span id="seconds" class="numberCount"></span>
      <span>seconds</span>
    </div>
  </div>

</section>


<!--
<div class="homepage-hero-module">
  <div class="video-container">
    <div class="filter"></div>
    <video autoplay loop class="fillWidth">
      <source src="./../../assets/Mp4/After-Party.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
      <source src="./../../assets/WEBM/After-Party.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
    <div class="poster hidden">
      <img src="./../../assets/After-Party.jpg" alt="">
    </div>
  </div>
</div>-->