.navHeader {
    text-align: center;
    width: 100%;
}

.text-header {
    font-family: 'Indie Flower', cursive;    
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 600;
}

.navbar-brand {
    margin-right: 0px;
}