.navHeader {
    text-align: center;
    width: 100%;
}

.text-header {
    font-family: 'Indie Flower', cursive;    
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 600;
}

.navbar-brand {
    margin-right: 0px;
}

.name {
    text-align: center;
    padding-top: 30px;
    color: white;
    font-size: 12px;
}